ansible/.venv/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Environments
.env
venv/
env/
test-env/

# Python caches
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Ignore Jenkins local data
jenkins_home/
